.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font: bold 1.3rem 'Inconsolata', monospace;
  color: #33FF00;

  img {
    height: 44px;
  }

  &__mark {
    margin-right: 5px;
  }

  &__text {
    font-size: 1.125rem;
  }

  &__cursor {
    display: inline-block;
    height: 1rem;
    color: $light-color;
    animation: cursor 1s infinite;

    .dark-theme & {
      color: $dark-color;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    &__cursor {
        animation: none;
    }
  }

}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
